// Navigation Styles here

.nav-container {
  width  : 900px;
  margin : 0 auto;
  padding: 3rem 0;

  @media @mobile {
    padding-bottom: 1rem;
  }

  border-bottom: 2px dashed @navigation-border;
  .mobile-width();
  .navigation {
    width: @desktopWidth;
    .mobile-width();
    margin: 0 auto;
    .display-flex(row, space-between, center);

    @media @mobile {
      .display-flex(column, center, center);
    }
    .navbar {
      .display-flex(row, space-between, flex-start);
      @media @mobile {
        justify-content: space-evenly;
        align-items    : center;
        padding-right: 0;
      }

      padding-right: 4rem;

      >.nav-link {
        text-decoration: none;
        color          : @font-color;
        padding        : 0 1rem;
        font-size      : 1.5rem;
        font-weight    : bold;

        &:hover {
          .animate-hover(1.1, 1);
        }
      }
    }

    .logo {
      >a {
        font-size      : 4rem;
        text-decoration: none;
        font-weight    : bold;
        color          : @font-color;
        font-family    : @title-font;
      }

      &:hover {
        .animate-hover(1.1, 1);
      }
    }
  }
}